body {
    width: 100vh;
    height: 100vh;
  }

  .active {
    border: 4px solid green;
  }

  .mistake-field {
    border: 4px solid red;
  }

  .btn-close {
    position: absolute;
    font-size: 10px;
    top: 0px;
    right: -10px;
    cursor: pointer;
  }

  .field-value {
    position: relative;
  }

  .right {
    color: green;
  }